# Ignore app structure
.git
.dockerignore

# Ignore all logfiles, tempfiles, and environment
/log/*.log
/tmp
/**/.env

# Cache gems
Gemfile.lock

# Ignore local copies of production assets
*.dump
/**/*.dump
/archived-log
/archived_pdfs
/pdfs

# Ignore sublime-text files
*.sublime-project
*.sublime-workspace
