/* header */

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right: 0;
  &:hover {
    text-decoration: none;
  }
}

@include media-breakpoint-up(lg) {
  .with-separators {
    li.nav-item > .nav-link {
      padding-left: 0;
      padding-right: 0;
    }

    li:not(:last-child) {
      padding-right: 1rem;
      border-right-width: thin;
      border-right-style: solid;
      border-right-color: grey;
    }
  }
}

/* Top level containers only */
body > .container {
  margin-top: 1rem;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-dark;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  width: 100%;
  @include box_sizing;
}

.card-muted {
  @include card-variant(ghostwhite, ghostwhite);
}

/*flash*/
.alert-notice {
  @extend .alert-success;
}

.alert-alert, .alert-error {
  @extend .alert-danger;
}
