// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "selectize";
@import "selectize.bootstrap3";

/* sidebar */

aside {
  div.user_info {
    margin-top: 20px;
  }
  div {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  dl {
    small {
      color: gray;
    }
  }
}

.characters {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  span {
    display: block;
    margin-left: 60px;

    &.experience, &.chapter {
      color: $gray-light;
    }
  }
}

tr.nested-fields.no-border {
  td {
    border: none;
  }
}

.radio_buttons.inline {
  label {
    display: block;
  }

  span {
    padding: 0 5%;
    display: inline-block;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

#history {
  margin-top: 20px;
}

label.wide {
  width: 100%;
}

.slider > div.slider {
  margin-left: 1rem;
}

.btn {
  cursor: pointer;
}

.blurred {
  filter: blur(.25rem);
}
