<h3>A unified system for managing players, characters, and story assets in SimTerra.</h3>
<hr>
<p>SimRep is intended to model and automate actions that take place behind-the-scenes including:</p>
<ul>
  <li>learning skills</li>
  <li>tracking event attendance</li>
  <li>purchasing equipment</li>
  <li>spending time units</li>
</ul>
<p>This project is fueled by buzzwords, duct tape, and hype.</p>

<h2>
Not every change from the JAN event is up yet. Please be patient while we finish processing the paperwork from the event. Thanks!
</h2>
