<tr>
  <td><%= Character.find_by(id: contribution.character).name %></td>
  <td><%= contribution.timeunits %></td>
  <td><%= contribution.note %></td>
  <td><%= contribution.updated_at %></td>
</tr>