<tr class="row col-12">
  <td class="col-5"><%= bonus_experience.reason %></td>
  <td class="col-3"><%= bonus_experience.amount %></td>
  <td class="col-4"><%= bonus_experience.date_awarded %></td>
</tr>
