<td class="bf col-3"><%= f.input :source, collection: Birthright::SOURCES, label: false %></td>
<td class="bf col-3"><%= f.input :name, collection: Birthright::SAMPLE, label: false %></td>
<td class="bf col-4"><%= f.input :detail, label: false %></td>
<% if f.object.new_record? or current_user.admin? %>
  <td class="bf col-2"><%= link_to_remove_association "Remove Birthright", f, class: "btn btn-danger"%></td>
<% end %>
