<% provide(:title, @user.email) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.email %></h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @characters.any? %>
      <h3>Characters (<%= @characters.count %>)</h3>
      <ul class="characters">
        <%= render @characters %>
      </ul>
    <% end %>
    <%= link_to 'Create New Character', new_character_path, class: "btn btn-sm btn-success" %>
  </div>
</div>