<tr>
  <td><%= transaction.from_account ? transaction.from_account.owner.name : "Cash" %></td>
  <td><%= transaction.to_account ? transaction.to_account.owner.name : "Cash" %></td>
  <td><%= humanized_money_with_symbol transaction.funds %></td>
  <td><%= transaction.created_at %></td>
</tr>