<% provide(:title, "Bank Accounts for #{@character.name}") %>
<div class="row justify-content-around">
  <aside class="col-4">
    <section class="character info">
      <h1><%= link_to @character.name, character_path(@character) %></h1>
    </section>
  </aside>
  <div class="col-8">
    <h3>Personal Bank Accounts (<%= @personal_bank_accounts.count %>)</h3>
    <% if @personal_bank_accounts.any? %>
      <ul class="bank_accounts">
        <%= render partial: 'bank_account', collection: @personal_bank_accounts %>
      </ul>
    <% end %>
  </div>
</div>