<% provide(:title, "#{@bank_account.display_name}") %>
<div class="row">
  <div class="col-2" id="overview">
    <h3 class="text-center">Balance</h3>
    <h5 class="text-center"><%= humanized_money_with_symbol @bank_account.balance %></h5>
  </div>
  <div class="row logs col-10">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#transactions">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#items">Items</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="transactions">
          <table class="table table-condensed table-hover sortable-theme-bootstrap" data-sortable>
            <thead>
              <tr class="row col-12">
                <th class="col-3">From</th>
                <th class="col-3">To</th>
                <th class="col-1">Amount</th>
                <th class="col-3">Memo</th>
                <th class="col-2">Date</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "bank_accounts/transaction", collection: @transactions %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="items">
          <table class="table table-condensed table-hover sortable-theme-bootstrap" data-sortable>
            <thead>
              <tr class="row col-12">
                <th class="col-3">From</th>
                <th class="col-3">To</th>
                <th class="col-1">Count</th>
                <th class="col-3">Description</th>
                <th class="col-2">Date</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "bank_accounts/item", collection: @items %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
