<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Facebook", "https://www.facebook.com/SimTerra" %></li>
      <li><%= mail_to "simterra@googlegroups.com", "Email Us" %></li>
    </ul>
  </nav>
</footer>