<footer class='footer'>
  <nav>
    <ul>
      <li>
        <i class='fa fa-facebook'></i>
        <a href='https://www.facebook.com/SimTerra'>Facebook</a>
      </li>
      <li>
        <i class='fa fa-envelope'></i>
        <a href='mailto:simterra@googlegroups.com'>Email Staff</a>
      </li>
      <li>
        <i class='fa fa-github'></i>
        <a href='<%= "https://github.com/MetricMike/simrep/releases/tag/v#{SimRep::Application::Version}" %>'>
          <%= "Version #{SimRep::Application::Version}" %>
        </a>
      </li>
    </ul>
  </nav>
</footer>